<h1>Add an Item:</h1>

<%= form_tag("/products/add", method: "post") do |f| %>
        <%= label_tag(:product, "Add Item:")%>
        <%= text_field_tag(:product) %>
        <%= submit_tag("add to cart") %>
<% end %>
  




<h1>Your Cart:</h1>
<ol>
<% if cart != [] %>
    <% cart.each do |product| %>
        <li><%= product %></li>
    <% end %>
<% end %>
</ol>